
.reviews-container {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  background-color: #f0f2f5;
  
}


.review-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 250px;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.review-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}


.review-card p {
  margin: 0.3rem 0;
  color: #555;
  font-size: 0.95rem;
}
